/* Title */

.MainContainer {
  position: relative;
  top: 114px;
  display: flex;
  flex-direction: row-reverse;
  padding-top: 30px;
  height: 1000px;
}

/* Text */

.TitleMainContainer {
  width: 50%;
}

.TitleContainer {
  position: relative;
  top: 15%;
  left: 8%;
}

.TitleContainer span {
  color: white;
}

.Font {
  font-weight: 600;
  font-size: 64px;
}

.UpContainer {
  position: relative;
  right: 94px;
}

.FlipCard {
  position: absolute;
  left: 40px;
  background-color: transparent;
  width: 110px;
  height: 80px;
  perspective: 1000px;
}

.FlipInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.UpFlipCardFront,
.UpFlipCardBack {
  position: absolute;
  width: 100%;
  left: 185px;
  height: 100%;
  bottom: 77px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.UpFlipCardFront {
  position: absolute;
  color: white;
  transform: rotateX(-180deg);
  animation: mymoveback 3s;
  animation-iteration-count: 1;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

.UpFlipCardBack {
  position: absolute;
  left: 185px;
  display: block;
  box-sizing: border-box;
  padding: 0px;
  text-align: center;
  animation: mymove 3s;
  animation-iteration-count: 1;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

/* */

.BottomFlipCardFront,
.BottomFlipCardBack {
  position: absolute;
  width: 100%;
  left: 20px;
  height: 100%;
  bottom: 20px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.BottomFlipCardFront {
  position: absolute;
  left: -150px;
  top: 0;
  color: white;
  transform: rotateX(-180deg);
  animation: mymoveback 3s;
  animation-iteration-count: 1;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

.BottomFlipCardBack {
  position: absolute;
  left: -150px;
  top: 0;
  display: block;
  box-sizing: border-box;
  padding: 0px;
  text-align: center;
  animation: mymove 3s;
  animation-iteration-count: 1;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

/* Keyframes */

@keyframes mymove {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(180deg);
  }
}
@keyframes mymoveback {
  0% {
    transform: rotateX(-180deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

/* Image */

.ImgContainer {
  width: 50%;
}

.Fondo {
  position: absolute;
  left: 0;
  /* width: 750px; */
  width: 40vw;
  max-width: 750px;
}

.Image {
  position: absolute;
  left: 4%;
  top: 18%;
  width: 31vw;
  max-width: 550px;
}

@media (max-width: 1250px) {
  .MainContainer {
    height: 800px;
  }

  .TitleContainer {
    top: 16%;
    left: 8%;
  }

  .TitleMainContainer {
   position: relative;
   left: 31px;
  }
 
  
  .UpFlipCardBack {
    bottom: 59px;
    left: 132px;
  }

  .UpFlipCardFront {
    bottom: 59px;
    left: 132px;
  }
  .BottomFlipCardFront,
  .BottomFlipCardBack {
    left: -161px;
  }
  .Font {
    font-size: 48px;
  }

  .BottomText {
    position: relative;
    right: 25px;
    top: 1px;
  }
  .Image {
    position: absolute;
    left: 4%;
    top: 18%;
    width: 31vw;
    max-width: 550px;
  }
  .FlipCard {
    height: 60px;
 }
}

@media (max-width: 990px) {
  .MainContainer {
    padding-top: 90px;
    height: 1000px;
  }
  .TitleMainContainer {
    width: auto;
  }
  .Fondo {
    display: none;
  }
  .MainContainer {
    flex-direction: column;
    align-items: center;
  }
  .ImgContainer {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 150px;
  }
  .Image {
    position: static;
    left: 0%;
    top: 0%;
    width: 550px;
    max-width: 550px;
  }
  .Font {
    font-size: 38px;
  }
  .UpFlipCardBack {
    bottom: 46px;
    left: 98px;
  }

  .UpFlipCardFront {
    bottom: 46px;
    left: 98px;
  }
  .BottomFlipCardFront,
  .BottomFlipCardBack {
    left: -166px;
  }
  .BottomText {
    position: relative;
    right: 39px;
    top: 1px;
  }
}

@media (max-width: 600px) {
  .MainContainer {
    height: 600px;
    padding-top: 50px;
  }
  .TitleContainer {
    position: relative;
    top: 15%;
    left: 16%;
  }
  .ImgContainer {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 75px;
  }
  .Font {
    font-size: 24px;
  }
  .TitleMainContainer {
    position: relative;
    left: 31px;
   }

   .UpFlipCardBack {
    bottom: 29px;
    left: 47px;
   }
 
   .UpFlipCardFront {
    bottom: 30px;
    left: 47px;
   }
   .BottomFlipCardFront,
   .BottomFlipCardBack {
     left: -175px;
   }
   
  .BottomText {
    right: 58px;
  }
  .FlipCard {
     height: 40px;
  }
  .Image {
    width: 320px;
  }
}
