.logoD{
    padding-right: 6px;
    height: 80px;
}

.logoI{
    height: 80px;
}

@media (max-width: 850px) {
    .logoD{
        padding-right: 6px;
        height: 60px;
    }
    
    .logoI{
        height: 60px;
    }
    
}