.texts__h2 {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 77px;
  background: linear-gradient(180deg, #1dd3b0 0%, #affc41 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.texts__Container {
  width: 650px;
  height: 450px;
}
.texts__Container p {
  color: white;
  font-size: 20px;
  line-height: 24.2px;
  font-weight: 800;
}



