.app__Container {
  background-color: rgba(0, 0, 0, 1);
  position: static;  /* absolute to fixed */
  width: 100%;
  z-index: 0;
  overflow: hidden;
}

.app__Container .app_Radiants {
  position: absolute;
  z-index: -1;
  background-color: rgba(60, 22, 66, 1);
 
}

.app__Container .app_Radiants:nth-child(1) {
  top: -10%;
  left: 30%;
  background-image: #3C1642;
  width: 700px;
  height: 700px;
  border-radius: 100%;
  filter: blur(100px);
}

.app__Container .app_Radiants:nth-child(2) {
  top: 15%;
  left: 90%;
  background: #1DD3B0;
  width: 300px;
  height: 310px;
  border-radius: 100%;
  filter: blur(150px);
}

.app__Container .app_Radiants:nth-child(3) {
  top: 9%;
  right: 85%;
  background: linear-gradient(180deg, #A0FF18 0%, #3C1642 100%);
  width: 506px;
  height: 413px;
  border-radius: 100%;
  filter: blur(150px);
}

.app__Container .app_Radiants:nth-child(4) {
  top: 42%;
  right: 90%;
  background: #1DD3B0;
  width: 270px;
  height: 283px;
  border-radius: 100%;
  filter: blur(150px);
}

.app__Container .app_Radiants:nth-child(5) {
  top: 46%;
  right: 3.5%;
  background: #3C1642;
  width: 700px;
  height: 705px;
  border-radius: 100%;
  filter: blur(150px);
}

.app__Container .app_Radiants:nth-child(6) {
  top: 35%;
  right: 3.5%;
  background: rgba(160, 255, 24, 0.15);
  width: 360px;
  height: 360px;
  border-radius: 100%;
  filter: blur(150px);
}

.app__Container .app_Radiants:nth-child(7) {
  bottom: 12%;
  right: 75%;
  background: linear-gradient(180deg, #A0FF18 0%, #3C1642 100%);
  width: 726px;
  height: 694px;
  border-radius: 100%;
  filter: blur(180px);
  transform: rotate(-136.38deg);
}

.app__Container .app_Radiants:nth-child(8) {
  bottom: -10%;
  left: 50%;
  background: linear-gradient(180deg, #3C1642 56.25%, #1DD3B0 100%);
  width: 1084px;
  height: 1281px;
  border-radius: 100%;
  filter: blur(200px);
  transform: rotate(-143.43deg);
}

.whatsapp{
  position: fixed;
  width: 90px;
  top: 590px;
  right: 13%;
  z-index: 1;
} 


@media only screen and (max-width: 480px) {
  .app__Container .app_Radiants  {
    display: none;
  }
  .fondo{
    display: none;
  }
  .imagen{
    width: 300px;
  }
  .font{
    font-size: 24px;
  }
  .flip-card-front.font{  
    position: relative;
    bottom: 29px;
    left: 48px;
  }
  .flip-card-back.font{
    position: relative;
    bottom: 49px;
    left: 48px;

  }
  .flip-card-front2.font{
    position: relative;
    left: -77px;
  }
  .products__Container{
    align-items: center;
  }
}