.app__Container {
  background-color: rgba(0, 0, 0, 1);
  position: relative;  /* absolute to fixed */
  width: 100%;
  z-index: 0;
  overflow: hidden;
}

.whatsapp{
  position: fixed;
  width: 90px;
  top: 65%;
  right: 5%;
  z-index: 1;
} 


@media only screen and (max-width: 480px) {
  .app__Container .app_Radiants  {
    display: none;
  }
  .fondo{
    display: none;
  }
  .imagen{
    width: 300px;
  }
  .font{
    font-size: 24px;
  }
  .flip-card-front.font{  
    position: relative;
    bottom: 29px;
    left: 48px;
  }
  .flip-card-back.font{
    position: relative;
    bottom: 49px;
    left: 48px;

  }
  .flip-card-front2.font{
    position: relative;
    left: -77px;
  }
  .products__Container{
    
    align-items: center;
  }
  .whatsapp{
    position: fixed;
    width: 50px;
    right: 4%;
    z-index: 1;
    bottom: 12%;
    top: auto;
  } 
  #footer-img img{
    height: 50px;
  }
}